# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
.eggs/
pip-log.txt
pip-wheel-metadata/
__pycache__/
*.so
*.dSYM/

# VSCode
.vscode/
.history/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints/  # Ignores all checkpoints

# Other
*.DS_Store
*.db
*.sqlite3
*.log
*.out
*.tmp
*.tmp/

